{% extends 'personal/base.html' %}

{% block title %}{{ title }} - {{ site_name }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block content %}
<div class="content">
    <h1>{{ title }}</h1>
    
    <p>Hello there! My name is Evelyn and my pronouns are she/they.</p>
    
    <p>I am a physicist, engineer, and software developer who's spent the last decade on the design and simulation of quantum computing hardware. In other words, I design qubits 😃.</p>
    
    <p>Currently, I am a Staff Engineer at <a href="https://ionq.com/" target="_blank" rel="noopener">IonQ</a> where I work on writing simulation tools that streamline and simplify modeling the behavior of ion traps. Previously, I worked at <a href="https://www.microsoft.com/en-us/research/research-area/quantum-computing" target="_blank" rel="noopener">Microsoft Quantum</a> where I worked on the simulation of hybrid superconductor-semiconductor systems for topological quantum computing. Before that, during my graduate studies, I worked in semiconductor spin-based qubits.</p>
    
    <p>I have a Ph.D. from the University of Wisconsin-Madison where I did theoretical and computational condensed matter physics. Prior to that, I got my B.S. in physics and mathematics from the University of Southern California.</p>
</div>
{% endblock %} 